.detaildata{
    margin-top: 50px;
    height: 300px;
    width: 500px;
    margin-left: 50px;
}
.fechcontainer{
    margin-top: 150px;
    height: 300px;
    width: 500px;
}
input[type="checkbox"]{
display: none;
}
input[type="checkbox"]:checked+.star{
    color: brown;
}
.rating-container {
    display: flex;
  }
  
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }